
.form-st{
    width: 50%;
}
.form-control 
{
    width: 100%;
}
.button{
    width:50%;
}
.form-st
{
    padding-left: 20%;
}
.p{

    font-size:80px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    
}
    
.text-center
{
    font-style: normal;
    
    
}
